@import "tailwindcss";

body {
  background-color: #030616e7;
  font-family: "Handlee", cursive;
}

.bg__image {
  background: linear-gradient(180deg, #00000057 10%, #000000a1 30%),
    linear-gradient(45deg, #3b3a3a49 20%, #3b3a3a49 30%, #3b3a3a49 95%),
    url("./assets/bg-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: "Handlee", cursive;
}

.nav {
  animation: slideDownFade 0.4s ease;
}

.nav_anti {
  animation: slideUpFade 0.4s ease;
}

@keyframes slideDownFade {
  0% {
    width: 100%;
    transform: translateY(-50px);
  }
  100% {
    width: 100%;
    transform: translateY(0);
  }
}

@keyframes slideUpFade {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
